<odoo>
  <data>

    <record model="ir.ui.view" id="dynamic_approval.list">
      <field name="name">dynamic_approval list</field>
      <field name="model">dynamic_approval.dynamic_approval</field>
      <field name="arch" type="xml">
        <form>
        <group>
  
                                <block title="Products" name="matrix_setting_container">
                                       <xpath expr="//form//field[@id='sell_purchase_uom']" class="o_setting_right_pane" position="after">
                        <setting id="dynamic_approval" title="Dynamic Approval" help="Approval Based on minimum amount Total/Before Tax">
                            <field name="dynamic_approval"  widget="checkbox"/>
                        </setting>
                        <setting >
                            <field name="total_amount" class="o_light_label" widget="radio"/>
                        </setting>
                        <setting >
                            <field name="untaxed_amounts"  widget="radio"/>
                        </setting>
                    </block>
</xpath>
        </group>
        </form>
      </field>
    </record>

<menuitem id="menu_purchase_general_settings" name="Settings"  sequence="0"  groups="base.group_system"/>
        <menuitem id="approval_configuration_id" name="approval_configuration" sequence="10" parent="menu_purchase_general_settings"
         action="action_approval_configuration" groups="base.group_system"/>
         </menuitem>
  </data>
</odoo>
